body {
    background-image: url("img/background.png");
    margin: 0%;
}

h1 {
    font-size:40px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

li {
    margin: 1em 0em;
}

a {
    color: rgb(255, 115, 0);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ヘッダー */
header {
    background-color: #313131;
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.2em;
    width: 100%;
}

.header-title {
    display: flex;
    margin-right: auto;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav {
    display: flex;
    margin: 0.5em;
    margin-right: 2em;
    font-weight: bold;
}

header a{
    color: white;
    font-size: 16px;
}

header a:hover{
    color:rgb(255, 115, 0);
}

header ul {
    margin: 0px;
    display: flex;
    list-style: none;
}

header li {
    margin-left: 1em;
    margin-right: 1em;
}

/* コンテンツ */
main {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

#titlebar {
    background-color: white;
    box-shadow: 12px 12px 0px 20px #313131;
    padding: 2em;
    margin: 2em;
    margin-bottom: 6em;
}

#profile {
    background-color: white;
    box-shadow: 12px 12px 0px 20px #313131;
    padding: 2em;
    margin: 2em;
    margin-bottom: 6em;
}

.profile-flex {
    display: flex;
    margin: 0 2em;
}

.profile-image {
    display: flex;
    text-align: center;
    margin: 2em 6em 1em 6em;
    padding: 1em 1em; 
}

.profile-nametext {
    margin-top: 1em;
}

.account {
    align-items: center;
}

.account-name {
    margin: 0 0.3em;
    font-size: 38px;
    align-items: center;
}

.account-id {
    margin: 0 0.3em;
    font-size: 20px;
    align-items: center;
    color: #b4b4b4;
}

.full-name {
    letter-spacing: 0em;
    color: #555555;
    font-size: 26px;
}

.profile-content {
    margin: 2em 1em;
}

.profile-description {
    margin: 1em 0em 2em 0em;
}

.rounded-tags ul{
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.rounded-tags li {
    padding: 0.5em 1em;
    margin: .5em;
    border-radius: .5em;
    color: white;
    display: flex;
}

.black {
    background-color: #313131;
}

.orange {
    background-color: rgb(235, 141, 0);
}

.magenta {
    background-color: rgb(219, 129, 255);
}

.green {
    background-color: rgb(16, 121, 16);
}

.red {
    background-color: rgb(216, 57, 57);
}

.unity1week {
    background-color: rgb(49, 172, 212);
}

.gck {
    background-color: rgb(49, 87, 212);
}

.teamwork {
    background-color: rgb(100, 158, 33);
}

.profile-link {
    margin: 1em 0em;
}

/* インターン */
#internship {
    background-color: white;
    box-shadow: 12px 12px 0px 20px #313131;
    padding: 2em;
    margin: 2em;
    margin-bottom: 6em;
}

.internship-content {
    margin: 1em 0em;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: .5em 1em;
}

td {
    padding: .5% 1em .5% 1em;
}

th {
    background-color: #313131;
    color: white;
}

th, .internship-date {
    width: 14%;
    padding: 1% 0;
}

th, .internship-name {
    width: 30%;
    padding: 1% 0;
}

th, .internship-company {
    width: 25%;
    padding: 1% 0;
}

th, .internship-length {
    width: 10%;
    padding: 1% 0;
}

th, .internship-other {
    width: 20%;
    padding: 1% 0;
}

/* プロジェクト */
#project {
    background-color: white;
    box-shadow: 12px 12px 0px 20px #313131;
    padding: 2em;
    margin: 2em;
}

.project-content {
    margin: 2em;
}

.project-top {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #313131;
    margin-bottom: 1em;
    padding: .5em;
}

#project a {
    color:#313131;
    text-decoration: underline;
}

#project a:hover {
    color:rgb(255, 115, 0);
}

.project-title {
    margin: 0.5em 2em 0.5em 0em;
}

.project-main {
    display: flex;
}

.project-videos {
    width: 50%;
    position: relative;
    height: 0;
    padding-top: 28.125%;
}

.project-videos iframe {
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-videos img {
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-side-block {
    margin: 0em 2em;
}

.point {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.round-block {
    padding: .8em 2em;
    margin: 1em 0em 1em 2em;
    border-radius: .5em 0 0 .5em;
    background-color: #313131;
    color: white;
    font-weight: bold;
    display: flex;
    box-shadow: 4px 4px 0 0 #313131;
}

.round-content {
    padding: .8em 2em;
    margin: 0em;
    background-color: white;
    outline: 2px solid #313131;
    outline-offset: -2px;
    border-radius: 0 .5em .5em 0;
    box-shadow: 4px 4px 0 0 #313131;
}

.round-border {
    padding: 1em 2em;
    margin: 1em 2em;
    border: solid;
    border-width: 5px;
    border-radius: .5em;
    color: #313131;
    font-weight: bold;
    display: flex;
}

.project-description {
    display: flex;
    margin: 3em 0em 2em 0em;
}

.tab-message {
    padding: 0.5em 2em;
    margin: 0em 50% 0em 0em;
    border-radius: 1em 1em 0 0;
    background-color: #313131;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

.project-challenge {
    width: 50%;
    margin: 1em;
}

.project-challenge ul {
    margin: 0;
    padding: 2em;
    height: 70%;
    border: solid 2px #313131;
    box-shadow: 4px 4px 0 0 #313131;
    border-radius: 0 1em 1em 1em;
}

.project-challenge li {
    margin: 1em 2em;
    font-weight: bold;
    font-size: 18px;
}

.project-comment {
    margin: 1em 1em 3em 1em;
}

.project-comment .tab-message  {
    margin: 0em 75% 0em 0em;
}

.comment {
    margin: 0;
    padding: 1em 2em;
    border: solid 2px #313131;
    border-radius: 0 1em 1em 1em;
    box-shadow: 4px 4px 0 0 #313131;
}