body {
    background-image: url("img/background.png");
    margin: 0%;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

/* ヘッダー */
header {
    background-color: #313131;
    color: white;
    display: flex;
    margin: 0;
    padding: 0.2em;
    width: 100%;
}

.header-title {
    display: flex;
    margin-right: auto;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav {
    display: flex;
    margin: 0.5em;
    margin-right: 2em;
}

header ul {
    margin: 0px;
    display: flex;
    list-style: none;
}

header li {
    margin-left: 1em;
    margin-right: 1em;
}

/* コンテンツ */
main {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.titlebar {
    background-color: white;
    box-shadow: 12px 12px 0px 20px #313131;
    padding: 2em;
    margin: 2em;
    margin-bottom: 4em;
}

.profile {
    background-color: white;
    box-shadow: 12px 12px 0px 20px #313131;
    padding: 2em;
    margin: 2em;
}

.profile-flex {
    display: flex;
    margin: 0 2em;
}

.profile-name {
    display: flex;
    text-align: center;
    margin: 2em 3em 0em 3em;
    padding: 3em 1em; 
    box-shadow: 2px 2px 0px 4px #313131;
}

.profile-nametext {
    margin: 1em;
}

.account {
    display: flex;
    vertical-align: middle;
}

.account-name {
    margin: 0 0.3em;
}

.account-id {
    margin: 0 0.3em;
    align-items: center;
    color: #b4b4b4;
}

.full-name {
    letter-spacing: 0.1em;
}

.profile-content {
    margin: 2em 1em;
}

.profile-description {
    margin: 1em 0em;
}

.profile-tag ul{
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.profile-tag li {
    padding: 0.5em 1em;
    margin: .5em;
    border-radius: .5em;
    color: white;
    display: flex;
}

.black {
    background-color: #313131;
}

.orange {
    background-color: rgb(235, 141, 0);
}

.magenta {
    background-color: rgb(219, 129, 255);
}

.green {
    background-color: rgb(16, 121, 16);
}

.red {
    background-color: rgb(216, 57, 57);
}

.profile-link {
    margin: 1em 0em;
}